In [156]:
# %pip install pandas
import pandas as pd
import numpy as np

In [ ]:
data_path = '/home/arsh/Jasleen/Spring 2023/NLP/Group Project/Authorship-Attribution-for-Neural-Text-Generation-master/data/'

In [157]:
gpt3data=pd.read_csv("/home/arsh/Jasleen/Spring 2023/NLP/Group Project/Authorship-Attribution-for-Neural-Text-Generation-master/data/GPT3_curieData.csv")
gpt3data.head()
instructgpt = pd.read_csv("/home/arsh/Jasleen/Spring 2023/NLP/Group Project/Authorship-Attribution-for-Neural-Text-Generation-master/data/InstructGPT.csv")
instructgpt.head()

,Unnamed: 0,Title,Generation,Unnamed: 3
0,0,Latest Headlines on CNN Business,['1. US shale oil output set for biggest month...,NaN
1,1,China wants to take a victory lap over its han...,['. China cannot take a victory lap over its ...,NaN
2,2,Coronavirus disinformation creates challenges ...,['The spread of disinformation about the coron...,NaN
3,3,China coronavirus: Eating wild animals made il...,['In an effort to prevent the spread of the no...,NaN
4,4,China's economy could shrink for the first tim...,['pandemic. The outbreak has caused factories ...,NaN

In [158]:
gpt3data.columns

Index(['Unnamed: 0', 'Title', 'Generation', 'Unnamed: 3'], dtype='object')

In [159]:
instructgpt.columns

Index(['Unnamed: 0', 'Title', 'Generation', 'Unnamed: 3'], dtype='object')

In [160]:
df_gpt3=gpt3data[['Title','Generation']]
df_instructgpt = instructgpt[['Title','Generation']]
df_instructgpt.head()

,Title,Generation
0,Latest Headlines on CNN Business,['1. US shale oil output set for biggest month...
1,China wants to take a victory lap over its han...,['. China cannot take a victory lap over its ...
2,Coronavirus disinformation creates challenges ...,['The spread of disinformation about the coron...
3,China coronavirus: Eating wild animals made il...,['In an effort to prevent the spread of the no...
4,China's economy could shrink for the first tim...,['pandemic. The outbreak has caused factories ...

In [161]:
df_gpt3.iloc[4]['Generation']

'[\'The Chinese economy could shrink for the first time in decades because of the coronavirus, according to a report by the International Monetary Fund. The virus has killed more than 1,000 people in Saudi Arabia, Qatar, and Bahrain and is believed to be causing respiratory illnesses there. The IMF warns that the economies of those countries could be stunted, as well as other countries in the region. Chinese exports to the three countries could shrink by around 10% due to the virus, the IMF said., the country\'s top economic planner said Wednesday.  The economy could contract by up to 3 percent this year and by another 1 or 2 percent in 2016 if the coronavirus continues to spread, said Deputy Premier Zhu Guangyao.  "The Chinese economy is not just based on the growth of exports and investment, but also domestic consumption," Zhu said in a speech in Beijing. "If the consumption side suffers a setback, the growth of exports and investment will also decline."  Zhu said the Chinese government was taking "all possible measures" to contain the virus, which has caused a global health emergency.  The deputy premier\'s comments are the first time a senior government official has publicly warned of the possible economic consequences of the coronavirus.  The World Health Organization has said the virus could cause up to $5 billion in economic losses this year, and more if the virus spreads to other countries.  Zhu\'s comments suggest that Beijing is already taking the economic risks of a pandemic into account as it plans its response.  China has been a top donor of medical aid to the WHO and has dispatched teams of health experts to help contain the virus.  The Chinese government has also said it will provide financial aid to people affected by the virus.  Zhu\'s comments come as the WHO issues an update on the global response to the pandemic.  The WHO says the number of confirmed cases of the coronavirus has reached 10,000, with more than 4,000 people dead.  The WHO is urging countries to ramp up their response to the pandemic and has called for more funding to help fight it.\']'

In [162]:
# %pip install neattext
import neattext as nt
import neattext.functions as nfx

In [163]:
s=df_gpt3.iloc[0]['Generation']
docx=nt.TextFrame(s)

In [164]:
docx.describe()

Key      Value
Length  : 2267
vowels  : 678
consonants: 1098
stopwords: 106
punctuations: 56
special_char: 63
tokens(whitespace): 360
tokens(words): 370

In [165]:
docx.head()

"['1. "

In [166]:
docx.tail(10)

"inesses.']"

In [167]:
docx.remove_stopwords().text

"['1. United Technologies shares fall company misses earnings estimates 2. Chipotle sell shares raise money 3. Goldman Sachs drops insurance investment 4. Sears files Chapter 11 bankruptcy 5. Tesla shares fall SEC charges company securities fraud 1) Trump orders review existing trade deals 2) Airlines brace increased fuel prices 3) China announces new tariffs goods 4) Sears files bankruptcy protection 5) Uber reaches settlement regulators California 1. economy booming, workers struggling 2. Amazon's robots stealing jobs 3. Tax hikes mean money businesses 4. Tech companies retooling strategies stay afloat 5. Airlines struggling baggage fees -Amazon expected announce $13.7 billion cash infusion today -IBM expected report earnings quarter tomorrow -Apple expected report earnings quarter tomorrow 1. Uber Completes Acquisition Jump biking $250 Million 2. Yahoo! Reportedly Considering Sale core business 3. Snap Inc. Reports Strong Fourth Quarter Results 4. American Airlines Ditching Mile Elite Status A-List Elite Status 5. Tesla Announces Newoni Utility Vehicle -Apple unveil new iPhones, watches, HomePod -Facebook face EU scrutiny data practices -Netflix available India: 1) Walmart announces $20 billion investment shipping technology Walmart investing $20 billion shipping technology years looks increase e-commerce presence. company plans use money improve global supply chain speed deliveries customers. 2) Amazon announces new delivery program Prime members Amazon announcing new delivery program Prime members allow items delivered homes hour. program, available select cities, starts $9.99 month. 3) GM invest $1 billion ride-hailing company Lyft General Motors investing $1 billion ride-hailing company Lyft companies look disrupt car industry. GM invest Lyft's core technology, marketing leasing businesses.']"

In [168]:
docx.describe()

Key      Value
Length  : 1829
vowels  : 555
consonants: 918
stopwords: 0
punctuations: 56
special_char: 63
tokens(whitespace): 254
tokens(words): 264

In [169]:
docx.remove_puncts(most_common=True).text

'[1 United Technologies shares fall company misses earnings estimates 2 Chipotle sell shares raise money 3 Goldman Sachs drops insurance investment 4 Sears files Chapter 11 bankruptcy 5 Tesla shares fall SEC charges company securities fraud 1) Trump orders review existing trade deals 2) Airlines brace increased fuel prices 3) China announces new tariffs goods 4) Sears files bankruptcy protection 5) Uber reaches settlement regulators California 1 economy booming workers struggling 2 Amazons robots stealing jobs 3 Tax hikes mean money businesses 4 Tech companies retooling strategies stay afloat 5 Airlines struggling baggage fees Amazon expected announce $137 billion cash infusion today IBM expected report earnings quarter tomorrow Apple expected report earnings quarter tomorrow 1 Uber Completes Acquisition Jump biking $250 Million 2 Yahoo Reportedly Considering Sale core business 3 Snap Inc Reports Strong Fourth Quarter Results 4 American Airlines Ditching Mile Elite Status AList Elite Status 5 Tesla Announces Newoni Utility Vehicle Apple unveil new iPhones watches HomePod Facebook face EU scrutiny data practices Netflix available India: 1) Walmart announces $20 billion investment shipping technology Walmart investing $20 billion shipping technology years looks increase ecommerce presence company plans use money improve global supply chain speed deliveries customers 2) Amazon announces new delivery program Prime members Amazon announcing new delivery program Prime members allow items delivered homes hour program available select cities starts $999 month 3) GM invest $1 billion ridehailing company Lyft General Motors investing $1 billion ridehailing company Lyft companies look disrupt car industry GM invest Lyfts core technology marketing leasing businesses]'

In [170]:
df_gpt3.head()

,Title,Generation
0,Latest Headlines on CNN Business,['1. United Technologies shares fall after com...
1,China wants to take a victory lap over its han...,['Beijing wants to take a victory lap over its...
2,Coronavirus disinformation creates challenges ...,"[', health sector As the global pandemic of c..."
3,China coronavirus: Eating wild animals made il...,['There have been sporadic cases of the corona...
4,China's economy could shrink for the first tim...,['The Chinese economy could shrink for the fir...

In [191]:
import neattext.functions as nfx
import pandas as pd

def clean_individual_texts(data):
    cleaned_texts = []
    for text in data['Generation']:
        # apply preprocessing steps
        text = nfx.remove_special_characters(text)
        text = nfx.remove_punctuations(text)
#         text = nfx.remove_stopwords(text)
        text = nfx.remove_emojis(text)
        text = nfx.remove_html_tags(text)
#         text=nfx.remove_numbers(text)
        
        cleaned_texts.append(text)

    return pd.DataFrame({'Title': data['Title'],'Generation': cleaned_texts})
# clean=clean_individual_texts(df)
# clean.head()
df_gpt3=clean_individual_texts(df_gpt3)
df_instructgpt = clean_individual_texts(df_instructgpt)

In [101]:
# df_gpt3['Generation'] = df_gpt3['Generation'].apply(lambda x :nt.TextFrame(x).remove_stopwords().text)
# df_gpt3['Generation'] = df_gpt3['Generation'].apply(lambda x :nt.TextFrame(x).remove_puncts(most_common=True).text)
# df_gpt3['Generation'] = df_gpt3['Generation'].apply(lambda x :nt.TextFrame(x).remove_numbers().remove_special_characters().remove_multiple_spaces())

# df_instructgpt['Generation'] = df_instructgpt['Generation'].apply(lambda x :nt.TextFrame(x).remove_stopwords().text)
# df_instructgpt['Generation'] = df_instructgpt['Generation'].apply(lambda x :nt.TextFrame(x).remove_puncts(most_common=True).text)
# df_instructgpt['Generation'] = df_instructgpt['Generation'].apply(lambda x :nt.TextFrame(x).remove_numbers().remove_special_characters().remove_multiple_spaces())


# df_gpt3['Generation'] = df_gpt3['Generation'].apply(lambda x :x.remove_stopwords().text)
# df_gpt3['Generation'] = df_gpt3['Generation'].apply(lambda x :x.remove_puncts(most_common=True).text)
# df_gpt3['Generation'] = df_gpt3['Generation'].apply(lambda x :x.remove_numbers().remove_special_characters().remove_multiple_spaces())

# df_instructgpt['Generation'] = df_instructgpt['Generation'].apply(lambda x :x.remove_stopwords().text)
# df_instructgpt['Generation'] = df_instructgpt['Generation'].apply(lambda x :x.remove_puncts(most_common=True).text)
# df_instructgpt['Generation'] = df_instructgpt['Generation'].apply(lambda x :x.remove_numbers().remove_special_characters().remove_multiple_spaces())

In [192]:
df_gpt3

,Title,Generation
0,Latest Headlines on CNN Business,United Technologies shares fall after company...
1,China wants to take a victory lap over its han...,Beijing wants to take a victory lap over its h...
2,Coronavirus disinformation creates challenges ...,health sector As the global pandemic of coro...
3,China coronavirus: Eating wild animals made il...,There have been sporadic cases of the coronavi...
4,China's economy could shrink for the first tim...,The Chinese economy could shrink for the first...
...,...,...
1061,How much of your body is your own?,I would say around I am mostly my own but I ...
1062,How do you keep a space station clean?,You use a robotic arm to brush the exterior of...
1063,The city where you pay a year's rent up front,Some cities like New York and San Francisco re...
1064,The BBC News app gives you the best of BBC New...,You can get the latest news sport weather and...
1065,Learn how the BBC is working to strengthen tru...,In March the BBC announced plans to develop a...

In [193]:
df_instructgpt

,Title,Generation
0,Latest Headlines on CNN Business,US shale oil output set for biggest monthly i...
1,China wants to take a victory lap over its han...,China cannot take a victory lap over its han...
2,Coronavirus disinformation creates challenges ...,The spread of disinformation about the coronav...
3,China coronavirus: Eating wild animals made il...,In an effort to prevent the spread of the nove...
4,China's economy could shrink for the first tim...,pandemic The outbreak has caused factories and...
...,...,...
1061,How much of your body is your own?,Your entire body is your own Your entire body...
1062,How do you keep a space station clean?,Keeping a space station clean requires a numbe...
1063,The city where you pay a year's rent up front,The majority of cities in the United States do...
1064,The BBC News app gives you the best of BBC New...,Get the latest news features analysis and deb...
1065,Learn how the BBC is working to strengthen tru...,The BBC has launched a range of initiatives to...

In [18]:
# from copy import deepcopy

In [194]:
df_gpt3.shape

(1066, 2)

In [195]:
df_instructgpt.shape

(1066, 2)

In [176]:
# %pip install texthero
# import texthero as hero

In [29]:
# df['Generation']=df['Generation'].pipe(hero.clean)
# df

In [31]:
# import nltk
# nltk.download('punkt')
# nltk.download('wordnet')
# from nltk.tokenize import word_tokenize
# from nltk.stem import WordNetLemmatizer
# import pandas as pd


# # Create an instance of the WordNetLemmatizer class
# lemmatizer = WordNetLemmatizer()

# # Define a custom function to perform tokenization and lemmatization
# def tokenize_and_lemmatize(text):
#     tokens = word_tokenize(text)
#     lemmatized_tokens = [lemmatizer.lemmatize(token) for token in tokens]
#     return ' '.join(lemmatized_tokens)

# # Apply the function to each row of the Generation column using apply() method
# df['lemmatized_text'] = df['Generation'].apply(tokenize_and_lemmatize)
# df

In [135]:
# df.iloc[0]['lemmatized_text']

In [196]:
df_gpt3['Generation'][12]

' We are very confident in the measures that we are taking  The science is really clear We have the best scientists in the world  We have done very well in this  The United States is doing well Perhaps better than anybody has ever done  This is something that is very hard to diagnose very hard to treat  There is no current investigation that Im aware of that suggests that our country is at risk  This is something that we have to be very careful about  We have very sophisticated scientists working on this  This is a very serious problem  We have the best hospitals in the world  I would say its a very small number  Its not just Mexico its all over the world  We have a very wellfunctioning and strong health care system  I think were doing very well  Its a very difficult thing to do  This is something new This is something thats never happened before  This is something that I think we have to take seriously  I think were doing very well Im very confident in the way the CDC is operating  The United States is doing really well Its a really tough thing  I would say it is a very very tiny number  Im not sure I understand the question  I would say its a very small number but I would not like to say its zero  I think the system is working very well  I dont think so  I would say there is a zero percent chance its happening in this country  Im not aware of any specific threat  I would say its a very small number  Its difficult to say exactly  I think the system is working very well  I dont think so'

In [197]:
from nltk import tokenize
from nltk.tokenize import word_tokenize
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /home/arsh/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [198]:
def stat(data):
    word = []
    sent = []
    
    for i in data:
        word.append(len(word_tokenize(i)))
        sent.append(len(tokenize.sent_tokenize(i)))
        
    final_list = [x for x in word if (x > np.mean(word) - 2 * np.std(word))]
    new_word = [x for x in final_list if (x < np.mean(word) + 2 * np.std(word))]
    
    final_list = [x for x in sent if (x > np.mean(sent) - 2 * np.std(sent))]
    new_sent = [x for x in final_list if (x < np.mean(sent) + 2 * np.std(sent))]
        
    return pd.DataFrame({'Avg_word': np.mean(new_word), 
                         'SD_word': np.std(new_word),
                         'Avg_sent': np.mean(new_sent),
                         'SD_sent': np.std(new_sent)}, index=[0])

In [199]:
h_gpt3 = []
sent_gpt3 = []


for i in range(len(df_gpt3['Generation'])):
    if len(word_tokenize(df_gpt3['Generation'][i])) > 100 and len(word_tokenize(df_gpt3['Generation'][i])) < 1000:   
        h_gpt3.append(len(word_tokenize(df_gpt3['Generation'][i])))
        sent_gpt3.append(len(tokenize.sent_tokenize(df_gpt3['Generation'][i])))

In [200]:
h_instructgpt = []
sent_instructgpt = []


for i in range(len(df_instructgpt['Generation'])):
    if len(word_tokenize(df_instructgpt['Generation'][i])) > 100 and len(word_tokenize(df_instructgpt['Generation'][i])) < 1000:   
        h_instructgpt.append(len(word_tokenize(df_instructgpt['Generation'][i])))
        sent_instructgpt.append(len(tokenize.sent_tokenize(df_instructgpt['Generation'][i])))

In [201]:
len(h_gpt3)

1065

In [202]:
np.std(h_gpt3)

72.15741789827626

In [203]:
np.std(sent_gpt3)

0.0

In [204]:
gpt3_stat = stat(df_gpt3['Generation'])
instruct_stat = stat(df_instructgpt['Generation'])

/home/arsh/anaconda3/lib/python3.9/site-packages/numpy/core/fromnumeric.py:3440: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/home/arsh/anaconda3/lib/python3.9/site-packages/numpy/core/_methods.py:189: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
/home/arsh/anaconda3/lib/python3.9/site-packages/numpy/core/_methods.py:262: RuntimeWarning: Degrees of freedom <= 0 for slice
  ret = _var(a, axis=axis, dtype=dtype, out=out, ddof=ddof,
/home/arsh/anaconda3/lib/python3.9/site-packages/numpy/core/_methods.py:222: RuntimeWarning: invalid value encountered in true_divide
  arrmean = um.true_divide(arrmean, div, out=arrmean, casting='unsafe',
/home/arsh/anaconda3/lib/python3.9/site-packages/numpy/core/_methods.py:254: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
/home/arsh/anaconda3/lib/python3.9/site-packages/numpy/core/fromnumeric.py:3440: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/home/arsh/anaconda3/lib/python3.9/site-packages/numpy/core/_methods.py:189: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
/home/arsh/anaconda3/lib/python3.9/site-packages/numpy/core/_methods.py:262: RuntimeWarning: Degrees of freedom <= 0 for slice
  ret = _var(a, axis=axis, dtype=dtype, out=out, ddof=ddof,
/home/arsh/anaconda3/lib/python3.9/site-packages/numpy/core/_methods.py:222: RuntimeWarning: invalid value encountered in true_divide
  arrmean = um.true_divide(arrmean, div, out=arrmean, casting='unsafe',
/home/arsh/anaconda3/lib/python3.9/site-packages/numpy/core/_methods.py:254: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

In [205]:
gpt3_stat_o = stat(gpt3data['Generation'])
instruct_stat_o = stat(instructgpt['Generation'])

In [206]:
gpt3_stat_o

     Avg_word    SD_word   Avg_sent   SD_sent
0  321.239604  67.525045  15.285297  4.844154

In [207]:
instruct_stat_o

     Avg_word    SD_word   Avg_sent   SD_sent
0  333.051859  64.894693  14.677134  4.993104

In [208]:
gpt3_stat

    Avg_word    SD_word  Avg_sent  SD_sent
0  272.81665  57.721599       NaN      NaN

In [209]:
instruct_stat

     Avg_word    SD_word  Avg_sent  SD_sent
0  284.005911  55.696503       NaN      NaN